$card-border-color: rgba(0, 0, 0, 0.125);

.container {
  text-align: center;
  .main-section {
    .main-header {

    }
    .collapse-section {
      .row {
        .sub-header {
          border-left: 1px solid $card-border-color;
          border-radius: 0px;

          &.previous-open {
            border-top: 1px solid $card-border-color;
          }
        }

        .sub-collapse-section {
          .sub-sub-header {
            border-left: 1px solid $card-border-color;
          }

          &.show {
            .row:last-of-type {
              .sub-sub-header {
                border-bottom: none;
              }
            }
          }
        }

        &:last-of-type {
          .sub-header {
            &:not(.show) {
              border-bottom: none;
            }
          }
        }
      }
    }
  }
}
