@import "../variables";

.main-header {
  margin-left: 1px;
  background-color: $not-collected-header-color;

  button {
    font-weight: 600;
    text-decoration: underline;
  }

  &.completed {
    background-color: $collected-header-color;
  }
}